# Prerequisites
*.d

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.out
artpad
result
Test
test
gui

# Images
*.jpg
*.png
*.jpeg

# IDE settings
.vscode/settings.json
/.idea/.gitignore
/src/.idea
