# Prerequisites
*.d

# Object files
**/bin/
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Exectables
*.out
artpad

# Images
src/*.jpg
src/*.png
src/*.jpeg
src/*.mp4

# IDE settings
.idea
.vscode

# TEST OUTPUTS
test/out/
test/test_*
test/frames
